    <% if @user %>
    <% end  %>
    <% binding.pry %>
    <div id='left-side'class='col-md-2'>
      <p>my hangouts</p>
        <% if @hangouts %>
        <table>
        <% @hangouts.each do |hang| %>
         <tr>
            <td><%= link_to hangouts_path hang %></td>
        </tr>
          <% end %>
        <% end %>
        </table>
    </div>

    <div id='big-white-squarey'class='col-md-8'>
      <p><%= link_to 'Create Hangout', new_hangout_path %></p>
      <div id='calendar' ></div>
    </div>

    <table id='groups-table' class='col-md-2'>
      <th>Groups</th>
      <tbody>
        <tr><td>Work</td></tr> 
        <tr><td>Girlfriend</td></tr>
        <tr><td>Homies</td></tr>
      </tbody>
    </table>

<script>
var events = <%= raw @events.to_json %>;

$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultDate: Date.now(),
      defaultView: 'agendaWeek',
      editable: true,
      events: events
    })

});
</script>