<div class='row'>

<div id='add-emails-box' class='grey-square col-md-3'>
  <h4>New Group</h4>
  <p class='add-email-field' contenteditable ='true'>add email here</p>
  <p class='add-email-field' contenteditable ='true'>add email here</p>
  <p class='add-email-field' contenteditable ='true'>add email here</p>
  <button class='btn btn-danger'>Add Email</button>
</div>

<p id='maximum-reached'>you have reached the group maximum, to add another group, click here.</p>

</div>
<div id='second-row' class='row'>
  <div class='col-md-3 group-container grey-square'>
    <h4>Hackathon Project</h4>
    <button class='btn btn-danger'>Select</button>
    <div class='glyphicon glyphicon-user'></div>
    <p>Harry Callaway</p>
    <div class='glyphicon glyphicon-user'></div>
    <p>Sebastian Murphy</p>
    <div class='glyphicon glyphicon-user'></div>
    <p>Craig Powell</p>
    <div class='glyphicon glyphicon-user'></div>a
    <p>Jack Walker</p>
  </div>
  <div class='col-md-3 group-container grey-square'>
    <h4>Girlfriend</h4>
    <button class='btn btn-danger'>Select</button>
    <div class='glyphicon glyphicon-user'></div>
    <p>Elisha Allen</p>
  </div>
  <div class='col-md-3 group-container grey-square'>
    <button class='btn btn-danger'>Select</button>
    <h4>Homies</h4>
    <div class='glyphicon glyphicon-user'></div>
    <p>Steve Crowe</p>
    <div class='glyphicon glyphicon-user'></div>
    <p>Pedram Mohensi</p>
    <div class='glyphicon glyphicon-user'></div>
    <p>Tom Rattray</p>
    <div class='glyphicon glyphicon-user'></div>
    <p>Li Patterson</p>
    <div class='glyphicon glyphicon-user'></div>
    <p>Tim Sanderson</p>
  </div>
</div>