<div id='add-emails-box' class='grey-square col-md-4'>
  <h4>New Group</h4>
  <p class='add-email-field' contenteditable ='true'>add email here</p>
  <p class='add-email-field' contenteditable ='true'>add email here</p>
  <p class='add-email-field' contenteditable ='true'>add email here</p>
  <p>click here to add more</p>
</div>

<p>you have reached the group maximum, to add another group, click here.</p>


<div class='col-md-3 group-container grey-square'>
  <p>Hackathon Project</p>
  <p>Harry Callaway</p>
  <p>Sebastian Murphy</p>
  <p>Craig Powell</p>
  <p>Jack Walker</p>
</div>
<div class='col-md-3 group-container grey-square'>
</div>
<div class='col-md-3 group-container grey-square'>
</div>
