<div id='big-white-square'>
<p id='question-text'>Who do you want to hang out with?</p>
<button id='next-button' class='btn btn-primary'>Next</button>

  <%= render 'group_form' %>
<%= render 'form' %>

<p>What do you want to do?</p>

<p>when?</p>
</div>