<p id="notice"><%= notice %></p>

<p>hangout show</p>

<p>display this conditionally</p>
<p>Who do you want to hang out with?</p>


<p>What do you want to do?</p>




<p>When do you want to do it?</p>


<%= link_to 'Edit', edit_hangout_path(@hangout) %> |
<%= link_to 'Back', hangouts_path %>
