<p id="notice"><%= notice %></p>

<div id='calendar' class='col-md-8'></div>

<div id='hud'>
	<div id='red' class='color-square'></div>
	<p>name here</p>
	<div id='green' class='color-square'></div>
	<p>name here</p>
	<div id='blue' class='color-square'></div>
	<p>name here</p>
	<div id='orange' class='color-square'></div>
	<p>name here</p>
</div>

<script>
var events = <%= raw @events.to_json %>;

$(document).ready(function() {

	// page is now ready, initialize the calendar...

	$('#calendar').fullCalendar({
		// put your options and callbacks here
		header: {
		left: 'prev,next today',
		center: 'title',
		right: 'month,agendaWeek,agendaDay'
	  },
	  defaultDate: Date.now(),
	  defaultView: 'agendaWeek',
	  editable: true,
	  eventSources: [
		// your event source
	   {
		   events:  events,
		   color: 'black',     // an option!
		   textColor: 'yellow' // an option!
	   }
   ]
	})
});
</script>