<p id="notice"><%= notice %></p>

<p>hangout show</p>

<div id='calendar' class='col-md-8'></div>

<script>
var events = <%= raw @events.to_json %>;

$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
        },

        eventSources: [

               // your event source
               {
                   events: // put the array in the `events` property
                    events
                   ,
                   color: 'black',     // an option!
                   textColor: 'yellow' // an option!
               },

               {
                events: [ // put the array in the `events` property
                    {
                        title  : 'event1',
                        start  : '2015-09-27'
                    },
                    {
                        title  : 'event2',
                        start  : '2015-09-29',
                        end    : '2015-09-30'
                    },
                    {
                        title  : 'event3',
                        start  : '2015-09-29T12:30:00',
                    }
                ],
                   color: 'blue',     // an option!
                   textColor: 'red' // an option!
               }

               // any other event sources...

           ]
      
    })

});
</script>